/* Estilos Gerais */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Fundo de Tela */
body {
    background-image: linear-gradient(135deg, rgb(35, 35, 80), rgb(50, 50, 205));
    text-align: center;
    color: rgb(255, 255, 255);
    flex-direction: column;
}

/* Tela de Pontos */
.Tela_Pontos{
    padding: 90px 180px;
    background-color: rgba(30, 30, 90, 0.795);
    border: 1px solid rgb(100, 0, 255);
    box-shadow: 0px 0px 20px  rgba(81, 0, 210, 0.842);
    margin-bottom: 100px;
}

/* Estilo para TODOS os botões */
button  {
    background-color: rgb(30, 30, 90);
    border: 1px solid rgb(100, 0, 255);
    box-shadow: 0 0 10px rgb(80, 0, 210);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efeito suave na transição */
    border-radius: 5px;
}
button:hover {
    background-color: rgb(10, 10, 60);
}

/*Posição e tamanho do botão proximo  */
.Botão_Proximo {
    position: fixed; /* Fixa o botão na tela */
    bottom: 30px;    /* Distância da parte de baixo */
    right: 30px;     /* Distância da parte da direita */

    width: 50px; /* Largura  */
    height: 50px; /* Altura */
    border-radius: 50%; /* Arredondamento */
    font-size: 1.5em; /* Tamanho da Fonte  */
    padding: 0;
}